network = "192.168"
auth_url="http://10.2.95.100:5000/v2.0"
tenant_name="TENANT"
tenant_id="TENANT_ID"
username="USER"
password="PASS"
public_key_path="/Users/myuser/.ssh/id_rsa.pub"
key_path="/Users/myuser/.ssh/id_rsa"
floating_ip_pool="net04_ext"
region="RegionOne"
network_external_id="xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx"
ntp_servers="0.pool.ntp.org,1.pool.ntp.org"
image_name="ubuntu-14.04"
